# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs


# Gauge - java class output directory
gauge_bin

# Gauge - java class target dir
target


######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/
gauge_bin/
reports/
*.txt